<div class="input-group image-preview">
    <input type="text"
           class="form-control image-preview-filename"
           ng-required="field.schema.validation.required"
           disabled="disabled">
    <div class="input-group-btn">
        <button type="button" ng-click="" class="btn btn-default image-preview-btn" ng-show="hasImage">
            <span class="glyphicon glyphicon-zoom-in"></span> Visualizar
        </button>
        <button type="button" ng-click="clear()" class="btn btn-default" ng-show="hasModel">
            <span class="glyphicon glyphicon-remove"></span> Limpar
        </button>
        <div class="btn btn-default image-preview-input" ng-click="upload()">
            <span class="glyphicon glyphicon-folder-open"></span>
            <span class="image-preview-input-title">{{uploadStr}}</span>
        </div>
    </div>
</div>