<input class="form-control"
       ng-if="field.schema.mask == undefined || field.schema.mask == ''"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<!--texto-->
<input class="form-control"
       ng-if="field.schema.mask == 'ui-br-phone-number'"
       ui-br-phone-number
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-br-cep-mask'"
       ui-br-cep-mask
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-br-cpf-mask'"
       ui-br-cpf-mask
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-br-cnpj-mask'"
       ui-br-cnpj-mask
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-br-cpfcnpj-mask'"
       ui-br-cpfcnpj-mask
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<!--numeros-->
<input class="form-control"
       ng-if="field.schema.mask == 'ui-number-mask'"
       ui-number-mask="0"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-number-mask-dec'"
       ui-number-mask="2"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-percentage-mask'"
       ui-percentage-mask="0"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-percentage-mask-dec'"
       ui-percentage-mask="2"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-money-mask'"
       ui-money-mask="2"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<!--time-->
<input class="form-control"
       ng-if="field.schema.mask == 'ui-date-mask'"
       ui-date-mask
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">

<input class="form-control"
       ng-if="field.schema.mask == 'ui-time-mask'"
       ui-time-mask="short"
       fg-field-input
       type="text"
       id="{{ field.$_id }}"
       title="{{ field.schema.tooltip }}"
       tabindex="{{ tabIndex }}"
       placeholder="{{ field.schema.placeholder }}"
       ng-model="form.data[field.schema.name]"
       ng-required="field.schema.validation.required"
       ng-minlength="{{ field.schema.validation.minlength }}"
       ng-maxlength="{{ field.schema.validation.maxlength }}"
       ng-pattern="{{ field.schema.validation.pattern }}">