.fg-field-inner .controls > div > .radio:first-child,
.fg-field-inner .controls > div > .checkbox:first-child {
  padding-top: 5px;
}

.fg-form .radio, .fg-form .checkbox {
  margin-top: 0px;
  margin-bottom: 5px;
}

.form-horizontal .fg-form .radio, .form-horizontal .fg-form .checkbox {
  margin-bottom: 0px;
}


/**
file upload
 */

.image-preview-input {
  position: relative;
  overflow: hidden;
  margin: 0px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
  margin-left:2px;
}